body {
background: #000!important;
color:#e4fffd !important;
}
h1, h2, h3, h4, h5, h6 {
color: #fffae4 !important;
}
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
text-shadow: -1px -1px 0px #000000 !important;
}
ul.menu li.current_page_item, ul.menu li:hover {
border-bottom: 5px solid #666666 !important;
}
ul.menu li {
border-bottom: 5px solid #000000 !important;
}
ul.menu li a span {
color: #999999 !important;
}
#home-slider {
background-image:none !important;
background:none !important;
}
.slider-wrapper {
border-bottom: 5px solid #059e9b !important;
background: #5fa023 url(images/loading.gif) 50% 50% no-repeat;
background-color: #059e9b !important;
}
.home #main {
background-image:none !important;
}
.breadcrumb {
text-shadow: -1px -1px 0px #454545 !important;
}
.breadcrumb a {
color: #FFFFFF !important;
}
.box-content-with-design {
background: #232323 url(images/design-border.png) right top no-repeat;
background-color: #eae2c9 !important;
}
.box-content-with-design h3{ color:#000 !important; }
td {
color: #343434 !important;
}
table.price-table td.even {
color: #059e9b !important;
}
blockquote {
color: #e4fffd !important;
border: 1px solid #454545 !important;
background: #232323 url(images/quote.png) 10px 15px no-repeat;
background-color: #232323 !important; 
}
.box-content {
background: #232323 !important;
border-bottom: 5px solid #666666 !important;
}
.readmore {
background-color: #666666 !important;
}
.readmore:hover {
background-color: #454545 !important;
}
.footer-bottom p {
color: #666666 !important;
}